/*
 * Text Color Classes
 */
.c-w {
	color: $c-white;
}
.c-g1 {
	color: $c-gray1;
}
.c-g2 {
	color: $c-gray2;
}
.c-g3 {
	color: $c-gray3;
}
.c-g4 {
	color: $c-gray4;
}
.c-b {
	color: $c-black;
}

/*
 * Background Color Classes
 */
.bg-c-w {
	background-color: $c-white;
}
.bg-c-g1 {
	background-color: $c-gray1;
}
.bg-c-g2 {
	background-color: $c-gray2;
}
.bg-c-g3 {
	background-color: $c-gray3;
}
.bg-c-g4 {
	background-color: $c-gray4;
}
.bg-c-b {
	background-color: $c-black;
}
